{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block products %}
    <div class="row text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        {% if prod %}
                            Обновить
                        {% else %}
                            Создать
                        {% endif %}
                    </button>
                    <a href="{% url 'catalog:home_menu' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}